
<div class="whiteSlider  ">
    <div class="col-sm-6">
        <iframe id="creditIframe" ng-controller="BillingController" ng-src="{{paymentUrl}}" ng-model="tocken" width="600" height="480"></iframe>
    </div>
    <div class="col-sm-6">
        <a href="#" ui-sref="cartDetails" class=" ">
            <i class="fa fa-arrow-left fa-1x"></i><label translate="back" class="pointer-curser" style=" font-size: large; ">Back</label>
        </a> 

        <div translate="PaymentTerms"></div>
    </div>
</div>