<div ng-controller="CartDetailsController">
    <div class="whiteSlider  ">
        <div class="row">
            <h2 class="col-sm-3  font-sm" translate="cartDetails"> Cart Details</h2>
            <a href="#" ui-sref="Home" class="col-sm-6">
                <i class="fa fa-arrow-left fa-1x"></i><span translate="back" class="pointer-curser" style=" font-size: large; ">back</span>
            </a>
        </div>
 
        <div class="table-responsive col-lg-12">
            
            <div class="alert alert-warning fade in" ng-show="cartList.length === 0">

                <i class="fa-fw fa fa-warning"></i>&nbsp;
               <span translate="emptyCart"></span> 
            </div>
            <table class="table table-striped ngCart cart" ng-show="cartList.length != 0">

                <thead>
                    <tr>
                        <th></th>
                        <th translate="name"></th>

                        <th translate="price"> </th>

                    </tr>
                </thead>

                <tbody>
                    <!-- ngRepeat: item in ngCart.getCart().items track by $index -->
                    <tr ng-repeat="item in cartList track by $index" class="ng-scope">
                        <td><span ng-click="removeFromCart(item.getId())" class="glyphicon glyphicon-remove"></span></td>

                        <td class="ng-binding"> {{item.getName()}}</td>

                        <td class="ng-binding">{{item.getPrice() |currency:" USD$"}}</td>

                    </tr><!-- end ngRepeat: item in ngCart.getCart().items track by $index -->
                </tbody>
            </table>
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
                <!--<ngcart-checkout service="http" settings="{ url:'//DesktopModules/FYWorkoutPlan/API/ExercisePlan/GenerateUserTocken' ,params: { totalAmount:'60',Currency:'sdf'}">

                    <span>Checkout</span>
                </ngcart-checkout>-->
                <button type="button" class="btn btn-primary " ng-click="checkout()" ng-disabled="cartList.length==0"><i class="fa fa-shopping-cart"></i>&nbsp;<span translate="checkout"></span>   </button>

                <button type="button" class="btn btn-primary red" ng-click="cleanCart()" ng-show="cartList.length != 0">
                
                    <i class="fa fa-trash"></i> &nbsp;<span translate="clearCart"></span>  </button>
                <span class="label label-warning" ng-show="isUndo"><span translate="emptyCart"></span> <a href="#" style="cursor:pointer;" ng-click="UndoClean()"> <span translate="undo" style="cursor:pointer;"></span>  </a> </span>
            </div>


        </div>
    </div>
</div>