 
<div ng-controller="WorkoutDetailsController" ng-init="GetDetails()" class="whiteSlider"> 

    <div cg-busy="{promise:detailsPromise,message:'Loading'}"></div> 
    <div id="header-photo">
        <div class="details-photo-header"> 
            <!--<h1>
                Workout <span>directory</span>
            </h1>-->
            <strong>{{WorkoutDetails.DisplayName}}</strong>
        </div>
        <img class="cover-img" ng-src="{{WorkoutDetails.Picture}}" />
    </div>

    <div id="details">
        <div class="panel workout-section">
            <div class="page-container-responsive">

                <div class="row details-border-box">
                    <div class="col-sm-8">

                        
                            <div class="row">
                                <div class="col-md-12">

                                    <h1 class="col-sm-offset-1   " id="listing_name">
                                        <i class="glyphicon glyphicon-signal"></i>   {{WorkoutDetails.DisplayName}}
                                    </h1>
                                    <span ng-bind="WorkoutDetails.Description" class="col-sm-offset-1" style="    display: inline-block;"></span>
                                    <hr />

                                    <div class="row row-condensed text-muted text-center">
                                        <!--<div class="col-sm-3 details-item">
                                            <img src="/DesktopModules/FYWorkoutDirectory/images/rating.png" />
                                            <br /> Rating  <br />
                                            <strong> <rating ng-model="rate" max="5"></rating></strong>
                                        </div>-->
                                        <div class="col-sm-3 col-sm-offset-1 details-item">
                                            <img src="/DesktopModules/FYWorkoutDirectory/images/intensity_level.png" />  <!--<i class="fa fa-clock-o fa-5x"></i>-->
                                            <br /><div translate="intensityLevel">  intensity Level</div> <br />   <strong ng-bind="levelString"></strong>
                                        </div>
                                        <div class="col-sm-4 details-item">
                                            <img src="/DesktopModules/FYWorkoutDirectory/images/mian_goal.png" />  <!--<i class="fa fa-caret-square-o-right  fa-5x"></i>-->
                                            <br /><div translate="mainGoal">Main Goal</div>    <br />
                                            <strong>{{WorkoutDetails.Objective}}</strong>
                                        </div>
                                        <div class="col-sm-4 details-item">
                                            <img src="/DesktopModules/FYWorkoutDirectory/images/duration.png" />  <!--<i class="fa fa-calendar-o fa-5x"></i>-->
                                            <br /><div translate="duration">duration</div> <br />
                                            <strong> {{WorkoutDetails.PlanDurationInWeek}} <span translate="weeks"></span>  </strong>

                                        </div>
                                    </div>

                                </div>

                            </div>




 
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <a  ng-click="backToList()" class="col-sm-5 col-sm-offset-1">
                                <i class="fa fa-arrow-left fa-1x"></i>&nbsp;<h1 translate="back" class="pointer-curser">back</h1>
                            </a>
                        </div>
                        
                        <div class="details-price-box " ng-hide="details.isPurchased">
                            <h4 class=" details-price">
                             <span translate="price"></span> : &nbsp;{{WorkoutDetails.Price}}&nbsp;<i class="fa fa-dollar  "></i>
                            </h4>


                            <div class="panel col-sm-12">
                                <br />
                                <div class="  ">
                                    <!--<ngcart-addtocart id="{{WorkoutDetails.ProductID}}" name="{{WorkoutDetails.DisplayName}}" price="{{WorkoutDetails.Price}}">  </ngcart-addtocart>-->
                                    <button class="checkout btn col-sm-5 " name="checkout" type="button" ng-click="addToCart(WorkoutDetails)"><span translate="addToCart"></span> </button>
                                    <button class="checkout btn col-sm-5 col-sm-offset-2 " name="checkout" type="button" ng-click="checkout()" >
                                        <span translate="buy"></span>
                                    </button>
                                    <br /> <br />
                                   
                                </div>
                                <div class="row">
                                    <span ng-show="showAddedToCart(WorkoutDetails.ProductID)" class=" ">
                                        <span translate="itemInCart"></span>  <a ng-click=" removeItemById(WorkoutDetails.ProductID)" style="cursor: pointer;"><span translate="remove"></span> </a>
                                    </span>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="  text-muted col-sm-8  ">
                        <div class="col-sm-3   col-sm-offset-1  " translate="Specification">
                            <span translate="Specification"></span>

                        </div>
                        <div class="col-sm-4  ">
                            <span translate="duration"></span>:<strong> {{WorkoutDetails.PlanDurationInWeek}} <span translate="weeks"></span></strong>
                            <br /><br />
                            <span translate="objectives"></span>:<strong>{{WorkoutDetails.Objective}}</strong>
                        </div>
                        <div class="col-sm-4   ">
                            <span translate="planType"></span> : <strong ng-bind="planTypeString"></strong>
                            <br /><br />
                            <span translate="intensityLevel"></span>
                            :<strong ng-bind="levelString"></strong>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-view  >

        </div>
        <div class=" " id="ContentTab">
            <div class="tab-pane active" id="reviews">
                <div class="fb-comments" data-href="{{FacebookUrl}}" data-width="830" data-numposts="15" data-colorscheme="light">
            </div>
        </div>
    </div>
        </div>
    </div>
