  
<hr />
<div class="row cardContainer show-hide-animation">
     
    <!--ng-class='{"col-sm-offset-1":$first}'-->
    <div class="col-sm-2  card-animation  "  ng-repeat="item in  getNumberWeek( WorkoutDetails.PlanDurationInWeek) track by $index">
        <a href="#" ui-sref="WorkoutDetails.list({weekID:$index+1})" ng-show="WorkoutDetails.Price ==0|| $index==0 ||isPurchased">
            <div class="details-card   " ng-style="{{ $index==0||weeksStyle()}}">
                <div class="week-card-body">
                    <div class="clearfix">
                        <div class="row">
                            <div class="card-week-icon col-md-4 col-md-offset-4">

                                <i class="fa fa-calendar-o fa-3x"></i>

                            </div>
                        </div>
                        <div class="row">
                            <span ng-bind="getWeekText($index+1)" class="card-week-name col-md-12">week</span>
                        </div>
                    </div>
                </div>

            </div>
        </a>
        <div ng-hide="WorkoutDetails.Price ==0|| $index==0 ||isPurchased">
            <div class="details-card   " ng-style="{{ $index==0||weeksStyle()}}">
                <div class="week-card-body">
                    <div class="clearfix">
                        <div class="row">
                            <div class="card-week-icon col-md-4 col-md-offset-4">

                                <i class="fa fa-calendar-o fa-3x"></i>

                            </div>
                        </div>
                        <div class="row">
                            <span ng-bind="getWeekText($index+1)" class="card-week-name col-md-12">week</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>